@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a0f0d; /* Dark chocolate bg */
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3e2723;
}

::-webkit-scrollbar-thumb {
  background: #daa520;
  border-radius: 5px;
}
